.ExpenseForm {
    input {
        height: 1.55rem;
        margin-right: 0.35rem;
        margin-bottom: 0.35rem;
    }

    /* &__Wrapper {
        display: flex;
        justify-content: space-between;
    } */

    /* display: flex;
    justify-content: space-between; */
    
}