.flex {
  display: flex;
}

.justify-content-center {
  justify-content: center;
}

.justify-content-between {
  justify-content: space-between;
}

.justify-content-evenly {
  justify-content: space-evenly;
}

.mt-2 {
  margin-top: 2rem;
}

.mb-2 {
  margin-bottom: 2rem;
}

.visibility-hidden {
  opacity: 0;
}

.display-none {
  display: none;
}

.cursor-pointer {
  cursor: pointer;
}

.w-100 {
  width: 100%;
}

.container {
  @extend .w-100;
  @extend .flex;
  @extend .justify-content-center
}