$spacings: (
  1: 1rem,
  2: 2rem,
  3: 3rem
);

$translateY: (
  1: 0 1rem,
  2: 0 2rem,
  3: 0 3rem
);

$justifying: (
  1: 'center',
  2: 'between',
  3: 'evenly'
);

$align: (
  center: center,
);

$widths: (
  1: "30%",
  2: "50%",
  3: "70%",
  4: "100%"
);

$minHeights: (
  11: 11rem
);

@mixin generate-classes($prefix, $map, $property) {
  @each $key, $value in $map {
    .#{$prefix}-#{$key} {
      #{$property}: $value;
    }
  }
}

@include generate-classes('mt', $spacings, 'margin-top');
@include generate-classes('transform-y', $translateY, 'translate');
@include generate-classes('gap', $spacings, 'gap');
@include generate-classes('w', $spacings, 'width');
@include generate-classes('min-h', $minHeights, 'min-height');
@include generate-classes('align-items', $align, 'align-items');
@include generate-classes('justify-content', $justifying, 'justify-content');

.pt-10 {
  padding-top: var(--spacing-space-10);
}

.flex {
  display: flex;
}

.justify-content-center {
  justify-content: center;
}

.justify-content-between {
  justify-content: space-between;
}

.justify-content-evenly {
  justify-content: space-evenly;
}

.visibility-hidden {
  opacity: 0;
}

.display-none {
  display: none;
}

.cursor-pointer {
  cursor: pointer;
}

.w-100 {
  width: 100%;
}

.container {
  @extend .w-100;
  @extend .flex;
  @extend .justify-content-center;
}